<bp-navbar></bp-navbar>
<section>
    <header>

    </header>
    <article>
        <div class="container">
            <h2>User Editor</h2>
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-tasks"></i>
                    </h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="inputName" class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="edit.user._id">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10">
                                <div class="input-group">
                                    <div class="input-group-addon">@</div>
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="edit.user.email">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPhone" class="col-lg-2 control-label">Phone</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputPhone" placeholder="Phone" ng-model="edit.user.phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputActive" class="col-lg-2 control-label">Active</label>
                            <div class="col-lg-10">
                                <select class="form-control">
                                    <option ng-selected="edit.user.active" value="true">
                                        Yes
                                    </option>
                                    <option ng-selected="!edit.user.active" value="false">
                                        No
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn-u btn-u-green">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </article>

</section>
