<bp-navbar></bp-navbar>
<div class="container">
    <div class="page-header">
        <h2>Users</h2>
    </div>
    <div class="card-size">
        <div class="card card-green">
            <div class="card-title white-green">
                <h4>Edit the details of a user</h4>
            </div>
            <div class="card-body">
                <p>
                  <input ng-model="edit.user._id">
                  <input ng-model="edit.user.email">
                  <input ng-model="edit.user.phone">
                  <input ng-model="edit.user.active">
                </p>                       
            </div>
            <div class="card-border1">
                <div class="card-border2">&nbsp;</div>
            </div>                      
        </div>
    </div>    
</div>