<bp-navbar></bp-navbar>
<section>
    <header>
        <bp-loading wait="users.loading"></bp-loading>
    </header>
    <article>
        <h2>Users</h2>
        <table class="table table-hover table-responsive" datatable="ng">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Active</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="u in users.users" ng-class="{even: even, odd: odd}">
                        <td>{{u.name}}</td>
                        <td>{{u.email}}</td>
                        <td>{{u.phone}}</td>
                        <td>
                            <span ng-if="u.active">Yes</span>
                            <span ng-if="!u.active">No</span>
                        </td>
                        <td>
                            <a ui-sref="usersEdit({ id: u._id})" class="btn btn-default">
                                <i class="fa fa-edit" style="color: #000"></i>
                            </a>
                        </td>
                </tr>
            </tbody>
        </table>
    </article>
</section>
