/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus {
    background-color: $color-main;
    color: $white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open {
    background-color: $color-main;
}

.navbar-default .navbar-nav > .open > a:hover{
  background-color: $color-main;
}

.navbar-default .navbar-toggle {
    border-color: $bg-color-main;
    background-color: $bg-color-main;
}

.mega-dropdown {
  position: static !important;
  width: 100%;
  z-index: 2000;
}

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 25%;
  margin-right: 7px;
  box-shadow: none;
  -webkit-box-shadow: none;
  z-index: 2000;  
}

.mega-dropdown-menu:before {
  content: "";
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -10px;
  right: 10%;  
  z-index: 2000;  
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: $white;
  white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: $white;
  background-color: $color-main + 100;
}

.mega-dropdown-menu .dropdown-header {
  color: $color-main + 100;
  font-size: 18px;
  font-weight: bold;
}

.mega-dropdown-menu form {
  margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
  margin-bottom: 3px;
}

@media (min-width: 768px) {
  .mega-dropdown-menu {
    background-color: $color-main!important;
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector