@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
   -khtml-#{$property}: #{$value};
     -moz-#{$property}: #{$value};
      -ms-#{$property}: #{$value};
       -o-#{$property}: #{$value};
          #{$property}: #{$value};
}

@mixin font-color {
  color: $white;
}

@mixin bg-transparent {
   background-color:rgba(0,0,0,0) !important;
   border:none !important;
   box-shadow:none !important;    
}

@mixin border-radius($radius: 3px, $without-border: none){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  @if $without-border == top {
    border-radius: 0 0 $radius $radius;
  } @else if $without-border == bottom {       
     border-radius: $radius $radius 0 0;
  } @else {
    border-radius: $radius;
    @include box-shadow;
  }
}

@mixin bg-gradient-l2r($start-colour:#fff, $end-colour:#000) {
    background-color: $start-colour;
    background-image: -webkit-gradient(linear, left bottom, right top, from($start-colour), to($end-colour));
    background-image: -webkit-linear-gradient(60deg, $start-colour, $end-colour);
    background-image:    -moz-linear-gradient(60deg, $start-colour, $end-colour);
    background-image:     -ms-linear-gradient(60deg, $start-colour, $end-colour);
    background-image:      -o-linear-gradient(60deg, $start-colour, $end-colour);
    background-image:         linear-gradient(60deg, $start-colour, $end-colour);
    filter:            progid:DXImageTransform.Microsoft.gradient(start-colourStr='#{$start-colour}', end-colourStr='#{$end-colour}', gradientType='1');
}

@mixin double-borders($colorOne: #3C3C3C, $colorTwo: #999999, $radius: 0) {
  border: 1px solid $colorOne;

  @include css3-prefix('box-shadow', 0 0 0 1px $colorTwo);

  @include border-radius( $radius );
}

@mixin box-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4), $inset: "") {
  @if ($inset != "") {
    @include css3-prefix('box-shadow', $inset $x $y $blur $color);
  } @else {
    @include css3-prefix('box-shadow', $x $y $blur $color);
  }
}

/// Text Shadow
/// @param {Size} $x [2px] - X
/// @param {Size} $y [2px] - Y
/// @param {Size} $blur [2px] - Blur
/// @param {Color} $color [rgba(0,0,0,.4)] - Color

@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
    text-shadow: $x $y $blur $color;
}