//$color-main: #008EE9;
//$color-main: lighten(#010705, 15%);
$color-main: #45b33d;
$color-main-hover: #45b33d;
$white: #fff;
//$bg-color-main: #F1F5F8;
//$bg-color-main: #279C39;
$bg-color-main: #F1F2F3;
$font-color: #787878;

// Basics of a navbar
$navbar-height:                    60px !default;

$navbar-default-color:             $color-main !default;
$navbar-default-bg:                $color-main !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

// Navbar links
$navbar-default-link-color:                $white !default;
$navbar-default-link-hover-color:          $white !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         $white !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       $white !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;
