<div class="container" ng-if="!login.isAuthenticated()">
    <div class="row">
        <div class="center-form">
            <div class="panel-body">
                <img src="assets/images/logo_white.png" class="logo center-block"/>
                <h3 class="text-center">
                    BINNER'S PROJECT
                </h3>
                <form method="post" ng-submit="login.login()" name="loginForm">              
                    <div class="form-group input-group er-border">
                        <span class="input-group-addon">
                          <i class="fa fa-envelope fa-2x"></i>
                        </span>
                        <input class="form-control input-lg transparent-input" type="text" name="email" ng-model="login.user.email" placeholder="Email" 
                        style="background-color:rgba(0,0,0,0) !important;border:none !important;box-shadow:none !important;" required autofocus/>
                    </div>   
                    <div class="form-group input-group er-border">
                        <span class="input-group-addon">
                          <i class="fa fa-lock fa-2x"></i>
                        </span>
                        <input class="form-control input-lg transparent-input" type="text" name="password" ng-model="login.user.password" placeholder="Password" style="background-color:rgba(0,0,0,0) !important;border:none !important;box-shadow:none !important;" required autofocus/>
                    </div>   
                    <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg  btn-block btn-success">
                        Log in
                    </button>
                    <br/>
                    <p class="text-center text-muted">
                        <small class="branco">
                            Don't have an account yet?
                            <a href="#/signup">
                                Sign up
                            </a>
                        </small>
                    </p>
                    <div class="signup-or-separator">
                        <span class="text">or</span>                    
                    </div>   
                </form>     

                

                <a class="btn btn-block btn-lg btn-facebook" href="http://dev-b.leomcabral.com:80/api/v1.0/auth/facebook/">
                    <i class="fa fa-facebook">
                    </i>
                    Sign in with Facebook
                </a>

                <button class="btn btn-block btn-lg btn-facebook" ng-click="login.authenticate('facebook')">
                    <i class="fa fa-facebook">
                    </i>
                    Sign in with Facebook
                </button>
                <button class="btn btn-block btn-lg btn-google-plus" ng-click="login.authenticate('google')">
                    <i class="fa fa-google-plus">
                    </i>
                    Sign in with Google
                </button>
                <button class="btn btn-block btn-lg btn-twitter" ng-click="login.authenticate('twitter')">
                    <i class="fa fa-twitter">
                    </i>
                    Sign in with Twitter
                </button>
            </div>
        </div>
    </div>
</div>
