/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

//$color-main: #008EE9;
$color-main: lighten(#010705, 15%);
$white: #fff;
$bg-color-main: #F1F5F8;
$font-color: #787878;

// Basics of a navbar
$navbar-height:                    90px !default;

$navbar-default-color:             $color-main !default;
$navbar-default-bg:                $color-main !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

// Navbar links
$navbar-default-link-color:                $white !default;
$navbar-default-link-hover-color:          $white !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         $white !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       $white !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "../../bower_components/font-awesome/fonts";

@import "../../bower_components/font-awesome/scss/font-awesome.scss";

// @import url();

@mixin border-radius($without-border: none, $radius: 10px){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  @if $without-border == top {
    border-radius: 0 0 $radius $radius;
  } @else if $without-border == bottom {       
     border-radius: $radius $radius 0 0;
  } @else {
    border-radius: $radius;
  }
}

@mixin bg-gradient-l2r($start-colour:#fff, $end-colour:#000) {
    background-color: $start-colour;
    background-image: -webkit-gradient(linear, left bottom, right top, from($start-colour), to($end-colour));
    background-image: -webkit-linear-gradient(60deg, $start-colour, $end-colour);
    background-image:    -moz-linear-gradient(60deg, $start-colour, $end-colour);
    background-image:     -ms-linear-gradient(60deg, $start-colour, $end-colour);
    background-image:      -o-linear-gradient(60deg, $start-colour, $end-colour);
    background-image:         linear-gradient(60deg, $start-colour, $end-colour);
    filter:            progid:DXImageTransform.Microsoft.gradient(start-colourStr='#{$start-colour}', end-colourStr='#{$end-colour}', gradientType='1');
}



* { 
  margin: 0; 
  padding: 0; 
}

@font-face {
  font-family: 'Oxygen';
  src: local('Oxygen'), local('Oxygen'), url('fonts/Oxygen_400_normal.ttf') format('truetype');
  //src: local('Open Sans'), local('OpenSans'), url('fonts/Open+Sans_700_normal.ttf') format('truetype');
}

body {
  margin-top: 60px;
  background-image: url('../assets/images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center top; 
  background-attachment: fixed; 
}

.logo {
  width: 60px;
}

.img-circle {
  padding: 0px!important;
  background-color: red!important;
}

.navbar-brand{
  //margin-left: 50px!important;
  margin-top: -30px!important;
}

.text-blue{
  color: $color-main;
}

.card-size{
	@extend .col-sm-12; 
	@extend .col-xs-12; 
	@extend .col-md-12;
	@extend .col-lg-12;
}

div#navbar-collapse1, div.primary-nav {
  color: $white;
  background-color: $color-main;
}

.btn-success{
  border: 0px;
  background-color: $color-main;
}

.navbar-texto-claro{
  color: $white;
}

.browsehappy {
  margin: 0.2em 0;
  padding: 0.2em 0;
  background: $bg-color-main;
  color: $font-color;  
}

.thumbnail {
  img.pull-right {
    width: 50px;
  }
}

.card {
  position: relative; 
  padding: 0px;
  @extend .thumbnail;  
  @include border-radius; 
  border-color: $color-main;  
  background: white;
  -webkit-box-shadow: 0px 0.5px 0.5px rgba(0,0,0,0.1);
  box-shadow: 0px 0.5px 0.5px rgba(0,0,0,0.1); 
}

.white-green{
    @include bg-gradient-l2r($color-main, #fff); 
}

.yellow-green{
  @include bg-gradient-l2r(#00E676, #FFD600); 
}

.purple-blue{
  @include bg-gradient-l2r(#AB47BC, #64B5F6); 
}

.blue-lightblue{
  @include bg-gradient-l2r(#209ECB, #00B7BE); 
}

.red-orange{
  @include bg-gradient-l2r(#FF2A3C, #FF5F2B); 
}

.card-title {
  @include border-radius(bottom);   
  padding: 20px 0 25px 30px;
  margin-top: 0px;  
  min-height: 100px;
  max-height: 100px;
  text-align: middle;
}

.card-body button {
  @extend .btn;
  @extend .btn-default;  
  padding-left: 25px;
  padding-right: 25px;
  color: #AAAAAA;
  font: 16px; 
  font-weight: 600;
  border: 2px solid #AAAAAA;
  @include border-radius(none, 20px); 
}

.btn-info{  
  @extend .btn;
  @extend .btn-info;  
  width: 200px;
  color: #fff;
  font: 16px; 
  font-weight: 600;
  background-color: #1A96E1;
  border: 0px solid #AAAAAA;
  @include border-radius(none, 20px);   
}


.popover {
  //top: 71px !important;
  right: 20px;
  //margin-right: 20px !important;
}

.add-hitlist {
  @extend .fa;
  @extend .fa-heart;
  color: red;
}

.btn-info i{
  margin-top: 3px;
  right: 20px;
  //padding-right: 25px;
}

.card-title h4 {
  color: $white; 
}

.card-body p {
  padding: 20px;
  color: $color-main;
}

div[class*='reflected']:before {
  position: absolute;
  font-size: 35px;
  left: 5px;
  top: 5px;
}

div[class*='reflected']:after {
  position: absolute;
  font-size: 35px;
  right: 5px;
  bottom: 5px;
}

.card:hover {
  cursor: pointer;
}


/*SPREAD*/
.spread {
  // width: 350px;
  // height: 250px;
  position: relative;
}

.spread > .card {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: top 0.3s ease, left 0.3s ease;
  -moz-transition: top 0.3s ease, left 0.3s ease;
  -o-transition: top 0.3s ease, left 0.3s ease;
  -ms-transition: top 0.3s ease, left 0.3s ease;
  transition: top 0.3s ease, left 0.3s ease;
}

.card-border {
  margin: auto;
  background-color: $white;
  padding: 0px;
  @include border-radius(top, 5px); 
  -webkit-box-shadow: 0px 0.5px 0.5px rgba(0,0,0,0.2);
  box-shadow: 0px 0.5px 0.5px rgba(0,0,0,0.2); 
  margin-left: 3%;
  width: 94%;  
  margin-top: 1px;
  position: absolute;  
}

.card-border1 {    
  @extend .card-border;  
  height: 5px;
  position: absolute;    
}
.card-border2 {  
  @extend .card-border;
  height: 4px;  
  margin-top: 6px;  
}

.pic-menu {
  @extend .profile-image;
  padding: 15px 40px 0px 40px!important;  
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.icon-search{
  @extend .fa;
  @extend .fa-search;
  padding: 0px;
  font-size: 20px;
  line-height: 0.1; 
}

.icon-bell{
  @extend .fa;
  @extend .fa-bell-o;
  padding: 0px;
  font-size: 20px;
  line-height: 0.1; 
}

.btn-pic-info {
  @extend .btn;  
  @extend .btn-info;  
  @extend .btn-xs;
  @include border-radius(none, 10px); 
  width: 20px;
  padding: 0px 3px;
  border: 1px solid $white;
  background-color: $color-main!important;
}

.fa {
  color: $white;
}

@media (max-width: 768px) {
  body {
    background-position: center top; 
  }
}

// .spread:hover .suithearts {
//   left: 30px;
//   top: 0px;
//   -webkit-transform: rotate(0deg);
//   -moz-transform: rotate(0deg);
//   -o-transform: rotate(0deg);
//   -ms-transform: rotate(0deg);
//   transform: rotate(0deg);
// }


// .spread > .card:hover {
//   -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.4);
//   box-shadow: 1px 1px 7px rgba(0,0,0,0.4);
// }

// /*GROW*/
// .grow > .card {
//   -webkit-transition: all 0.5s ease;
//   -moz-transition: all 0.5s ease;
//   -o-transition: all 0.5s ease;
//   -ms-transition: all 0.5s ease;
//   transition: all 0.5s ease;
// }

// .grow > .card:hover {
//   -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.9);
//   box-shadow: 1px 1px 7px rgba(0,0,0,0.9);
//   -webkit-transform: scale(1.05,1.05);
//   -moz-transform: scale(1.05,1.05);
//   -o-transform: scale(1.05,1.05);
//   -ms-transform: scale(1.05,1.05);
//   transform: scale(1.05,1.05);
// }


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
