
legend{
  margin-bottom: 10px; //The original value is 20, just to keep the default spacing for mobile view;
}

.transparent-input{
  @include bg-transparent;  
  color: $white;
  width: 100%!important;
  margin: 0 auto;
}

.input-group-addon{
  @include bg-transparent;      
}

.input-group-addon i{
  @include bg-transparent;
  width: 30px;      
}

.branco{
  @include font-color;
}



.transparent-input::-webkit-input-placeholder { @include font-color; }
.transparent-input:-moz-placeholder { @include font-color; }
.transparent-input::-moz-placeholder { @include font-color; }
.transparent-input:-ms-input-placeholder { @include font-color; }

.btn-lg {
  font-size: 14px;
}

.btn .fa {
  margin-right: 5px;
}

.btn-google-plus {
  @include font-color;
  background-color: #dd4b39;
  border: 1px solid #d54331;
  font-size: 12px;
}

.btn-google-plus:hover,
.btn-google-plus:focus {
  @include font-color;
  background-color: #cb3927;
  font-size: 12px;
}

.btn-facebook {
  @include font-color;
  background-color: #3b5998;
  border: 1px solid #335190;
  font-size: 12px;
}

.btn-facebook:hover,
.btn-facebook:focus {
  @include font-color;
  background-color: #294786;
  font-size: 12px;
}

.btn-twitter {
  @include font-color;
  background-color: #00aced;
  border: 1px solid #009fdb;
  font-size: 12px;
}

.btn-twitter:hover,
.btn-twitter:focus {
  @include font-color;
  background-color: #0090c7;
  font-size: 12px;
}

.signup-or-separator {
  width: 100%; 
  height: 40px; 
  text-align: center;
  color: $white;
}

.signup-or-separator span {
  width: 100%;
  margin: -16px auto 10px auto;  
  border-bottom: 1px solid rgba(255,255,255, .3); 
}

.signup-or-separator .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
  padding: 0 10px;  
}
