@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: url(Oxygen_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Oxygen_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Oxygen_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/oxygen/v5/RzoNiRR1p2Mqyyz2RwqSMw.woff */
        url(Oxygen_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/oxygen/v5/WNVARKadHCfwbQ2n3MQeIOvvDin1pK8aKteLpeZ5c0A.ttf */
        url(Oxygen_400_normal.svg#Oxygen_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=yh90VGZKR0bnBJLT_XYX1g&skey=65a128e59aae3226#Oxygen */
}
